body {
  width: 100%;
}

#root {
  width: 100%;
}

#addPrompt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 20px;
  gap: 10px;
}

#addPrompt  * {
  width: 100%;
  margin: 0;
}


#addPrompt button:hover {
  background-color: #0056b3;
}

